body{
    size: 100%;
}
/*ani.header*/
/*ani.header*/
.main-header{
  background: linear-gradient(0deg,#888,rgb(223, 204, 204));
  position: fixed;
  z-index: 10000;
  width: 100%;
  
}

.main-header .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  height: 130px;
}
.main-header .container .thelogo{
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.main-header .logo img{
  width: 100%;
  vertical-align: middle;
}

.main-header .main-nav{
  margin: auto;
  display: flex;
}

.main-header .main-nav a{
  text-decoration: none;
  color: #fff;
  padding: 5px 1em;
  position: relative;
  margin-top: -60px;
  transform: translateY(0px);
  transition: .3s;
  font-size: 26px;
  font-family: "微軟正黑體";
  font-weight: bold;
  
}
.main-header .main-nav a:nth-child(4){
  margin-left: 120px;
}

.main-header .main-nav a:hover{
  transform: translateY(-10px);
}

.main-header .main-nav a:after{
  content: '';
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 15px;
  height: 0;
  border-bottom: 1px solid #fff;
  transition: .3s;
}

.main-header .main-nav a:hover:after{
  left: 0;
  right: 0;
}

body
{
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
footer
{
    background-color: rgba(140, 143, 116, 0.377);
    height: 150px;
    font-size: 20px;
    font-family: "Lucida Fax";
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 90px;
}
.col-md-8
{
    height: 500px;
    background-color: burlywood;
    border-radius: 5%;
    margin-top: 300px;
    margin-left: -14%;
    
}
.col-md-8 p
{
    font-size: 24px;
    font-family: "微軟正黑體";
    font-weight: bold;
    padding-left: 5%;
    padding-top: 10%;
}
.col-md-8  img
{
  margin-top: -5%;
  margin-left: 40%;
}
.col-md-8>a>img
{
    margin-left: 25px;
    margin-top: -25%;
}
.col-md-6
{
    height: 550px;
    background-color: burlywood;
    border-radius: 5%;
    margin: 300px 0 0 0;
    width: 650px;
}
.haha{
    display: flex;
    justify-content: space-around;
}
.col-md-6>.c img,
.col-md-6>.l img,
.col-md-6>.w img,
.col-md-6>.e img
{
    margin-top: -65%;
}
.col-md-6>.c>a>img,
.col-md-6>.l>a>img,
.col-md-6>.w>a>img,
.col-md-6>.e>a>img
{
    margin-left: 5%;
    margin-top: 5%;
    
}

.col-md-6>.c p,
.col-md-6>.w p,
.col-md-6>.l p,
.col-md-6>.e p
{
    font-size: 24px;
    font-family: "微軟正黑體";
    font-weight: bold;
    padding-left: 8%;
    padding-top: 10%;
    margin-top: 5%;
}


