body{
    size: 100%;
}
/*ani.header*/
/*ani.header*/
.main-header{
  background: linear-gradient(0deg,#888,rgb(223, 204, 204));
  position: fixed;
  z-index: 10000;
  width: 100%;
  
}

.main-header .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  height: 130px;
}
.main-header .container .thelogo{
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.main-header .logo img{
  width: 100%;
  vertical-align: middle;
}

.main-header .main-nav{
  margin: auto;
  display: flex;
}

.main-header .main-nav a{
  text-decoration: none;
  color: #fff;
  padding: 5px 1em;
  position: relative;
  margin-top: -60px;
  transform: translateY(0px);
  transition: .3s;
  font-size: 26px;
  font-family: "微軟正黑體";
  font-weight: bold;
  
}
.main-header .main-nav a:nth-child(4){
  margin-left: 120px;
}

.main-header .main-nav a:hover{
  transform: translateY(-10px);
}

.main-header .main-nav a:after{
  content: '';
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 15px;
  height: 0;
  border-bottom: 1px solid #fff;
  transition: .3s;
}

.main-header .main-nav a:hover:after{
  left: 0;
  right: 0;
}
body
{
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

  .col-md-6{
    margin-top: 200px;
    background-color: rgba(150, 150, 146, 0.514);
    height: 570px;
    border-radius: 20px;
    box-shadow: rgba(136, 136, 136, 0.781) 4px 4px;
  }

h2{
    margin-top: 20px;
    font-size: large;
}

  .form{
      margin-top: 50px;
      font-size: large;
  }

  input
  {
      border-radius: 15px;
      border-color: #888;
      outline: none;
      margin-top: -25px;
  }
  input:focus
  {
      transition: .5s;
     border: 2px rgba(255, 166, 0, 0.658) solid;
  }

  select
  {
    border-radius: 15px;
    border-color: #888;
    margin-left: -10px;
  }
  footer
{
    width: 100%;
    height: 150px;
    background-color: rgba(109, 116, 99, 0.63);
    margin-top: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    font-family: "Lucida Fax";
    font-weight: bold;
    margin-top: 200px;
}